* {
  font-family: "Quicksand", sans-serif;
}

body {
  scrollbar-width: auto;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #313131;
}
body::-webkit-scrollbar-thumb {
  background-color: #c32c2c;
  border-radius: 10px;
  border: 3px solid rgba(49, 49, 49, 0);
}

main {
  background: linear-gradient(180deg, rgb(15, 14, 14) 52%, rgb(82, 73, 73) 97%, rgb(94, 89, 89) 100%);
}

.contenedor-trailers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10p;
}

.trailers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10p;
}
.trailers h3 {
  color: #ca3e47;
}
.trailers p {
  color: whitesmoke;
}
.trailers iframe {
  width: 100%;
  height: 35vh;
}

.contenedor-dondeVer {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.dondeVer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.dondeVer h2 {
  color: #ca3e47;
}
.dondeVer h3 {
  color: whitesmoke;
  font-weight: 100;
}

fieldset input {
  width: 80vw;
}
fieldset label {
  color: whitesmoke;
  font-size: 200;
}

.form-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form-contacto input {
  width: 50%;
}

.form-contacto__dato {
  display: flex;
  flex-direction: row;
}
.form-contacto__dato input {
  width: 50%;
}

.navbar-brand {
  font-weight: 600;
}

.navbar__Titulo a {
  color: #ca3e47;
}

.navbar-brand {
  font-weight: 600;
}

.navbar__Titulo a {
  color: #ca3e47;
}

.carousel {
  background-color: #313131;
}
.carousel-item {
  background-color: #313131;
}
.carousel-caption {
  background-color: rgba(202, 62, 71, 0.3215686275);
}
.carousel-caption h5 {
  padding: 3px;
  font-size: 20px;
}
.carousel-img {
  height: 90%;
  object-fit: cover;
}

.text-secondary {
  font-weight: 600;
}

.Texto_titulo {
  font-weight: 600;
  color: #ca3e47;
}
.Texto_titulo__mes {
  background-color: rgba(202, 62, 71, 0.3215686275);
}

.Texto_Subtitulo, .Texto_titulo__mes {
  color: whitesmoke;
}

.noticias P {
  color: whitesmoke;
}

.article--proxest, .article--proxest__calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2;
}

.card {
  width: 30rem;
  height: 20rem;
}
.card-img {
  height: 14rem;
  object-fit: cover;
}

.cardMv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2;
}

.article__card {
  overflow-y: hidden;
  overflow-x: scroll;
}
.article__card::-webkit-scrollbar {
  width: 10px;
}
.article__card::-webkit-scrollbar-track {
  background: #313131;
}
.article__card::-webkit-scrollbar-thumb {
  background-color: #c32c2c;
  border-radius: 10px;
  border: 3px solid rgba(49, 49, 49, 0);
}

/*# sourceMappingURL=style.css.map */
