@import "./utils/variables";
@import "./utils/mixins";
@import "./base/baseReset";
@import "./layout/main";
@import "./layout/navbar";
@import "./layout/navbar";
@import "./components/carrousel";
@import "./components/articulo";
@import "./components/cards";
