@mixin flex-center{
    display:flex; 
    flex-direction:column ;
    justify-content:space-around ;
    align-items:center;
}

@mixin flex-around-row{
    display: flex; 
    flex-direction: row; 
    justify-content:space-around ;
    flex-wrap: wrap;
}

@mixin scroll(){
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background:map-get($colors,backgroundCarrusel);
    }
    &::-webkit-scrollbar-thumb {
        background-color: map-get($colors,colorScrollPrincipal);
        border-radius: 10px;
        border: map-get($colors,borderScroll);
    }
}