$colors:(
    colorTitulo:#ca3e47,
    colorSubtitulo:whitesmoke,
    colorTextoBloque:whitesmoke,
    backgroundMain:linear-gradient(180deg, rgba(15,14,14,1) 52%, rgba(82,73,73,1) 97%, rgba(94,89,89,1) 100%),
    backgroundCarrusel:#313131,
    backgroundCarruselTexto:#ca3e4752,
    colorScrollPrincipal: #c32c2c,
    colorScrollSecundario: #31313100,
    borderScroll:3px solid colorScrollSecundario,    
);  