
.Texto_titulo{
    font-weight: 600;
    color:map-get($colors,colorTitulo);
    &__mes{
        background-color: map-get($colors,backgroundCarruselTexto);
        @extend .Texto_Subtitulo;
    }
}

.Texto_Subtitulo{
    color:map-get($colors,colorSubtitulo);
}

.noticias{
    & P{
    color:map-get($colors,colorTextoBloque);
    }
}

.article--proxest{
    @include flex-center();
    padding:2;
}
.article--proxest__calendar{
    @extend .article--proxest;
}