.Texto_titulo{
    font-weight: 600;
    color:map-get($colors,colorTitulo);
    &__mes{
        background-color: map-get($colors,backgroundCarruselTexto);
        color:map-get($colors,colorSubtitulo);
    }
}

.Texto_Subtitulo{
    color:map-get($colors,colorSubtitulo);
}

.noticias{
    & P{
    color:map-get($colors,colorTextoBloque);
    }
}