.carousel{
    background-color:map-get($colors,backgroundCarrusel);
    &-item {
        background-color:map-get($colors,backgroundCarrusel);
    } 
    &-caption{
        background-color: map-get($colors,backgroundCarruselTexto);
    }  
    &-caption{
        & h5{
        padding:3px;
        font-size:20px; 
        }
    } 
    &-img{
        height: 90%;
        object-fit: cover;
    }
}


.text-secondary{
    font-weight: 600;
}

